@charset "UTF-8";
/* 共通部分　-------------*/
html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

head {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1440px;
  position: relative;
  max-width: 100%;
}

ul > li {
  list-style: none;
}

section {
  scroll-margin-top: 50px; /* 上に80pxの余白 */
}

/* ローディング　-------------*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 10;
  opacity: 0; /* 初期状態は透明にする */
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease; /* アニメーションを適用 */
  pointer-events: none; /* 背後のコンテンツにマウスイベントが影響しないようにする */
}
.loading.is-active {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease; /* アニメーションを適用 */
}
.loading .loading-logo {
  width: 300px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .loading .loading-logo {
    width: 150px;
    margin-bottom: 30px;
  }
}
.loading .loading-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .loading .loading-dots {
    gap: 10px;
  }
}
.loading .loading-dots .dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #4282B8;
}
@media (max-width: 1024px) {
  .loading .loading-dots .dot {
    width: 12px;
    height: 12px;
  }
}
.loading .loading-dots .dot.is-active {
  -webkit-animation: bgChange 0.8s infinite alternate;
          animation: bgChange 0.8s infinite alternate;
}
.loading .loading-dots .dot.is-active:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loading .loading-dots .dot.is-active:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading .loading-dots .dot.is-active:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading .loading-dots .dot.is-active:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading .loading-dots .dot.is-active:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading .loading-dots .dot.is-active:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading .loading-dots .dot.is-active:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.loading .loading-dots .dot.is-active:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
@-webkit-keyframes bgChange {
  0% {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }
}
@keyframes bgChange {
  0% {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }
}

.hidden {
  display: none;
}

/* ヘッダー　-------------*/
.header {
  width: 280px;
  height: 100vh;
  padding: 74px 40px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1024px) {
  .header {
    position: fixed;
    width: 100%;
    height: 48px;
    padding: 0;
    z-index: 999;
  }
}

.header-inner {
  position: fixed;
}
@media (max-width: 1024px) {
  .header-inner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.header-logo {
  width: 200px;
  height: 121px;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .header-logo {
    width: 70px;
    height: 42px;
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}

.header-nav_section-title {
  width: 100%;
  height: 84px;
  border-bottom: 1px solid #B1C6DC;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav_section-title-plus {
  position: absolute;
  right: 0;
  top: 50%;
}

.header-nav_section-main {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav_section-sub {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.plus-width {
  display: block;
  height: 1px;
  width: 24px;
  background-color: #4282B8;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.plus-height {
  display: block;
  height: 24px;
  width: 1px;
  background-color: #4282B8;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-nav_section-itemlist {
  padding: 32px 0 32px 17px;
  border-bottom: 1px solid #B1C6DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.header-nav_section-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.hamburger {
  display: none;
}
@media (max-width: 1024px) {
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 56px;
    height: 48px;
    background-color: #4282B8;
    cursor: pointer;
  }
}
@media (max-width: 1024px) {
  .hamburger span {
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@media (max-width: 1024px) {
  .hamburger span:nth-child(1) {
    top: 12px;
  }
}
@media (max-width: 1024px) {
  .hamburger span:nth-child(2) {
    top: 24px;
  }
}
@media (max-width: 1024px) {
  .hamburger span:nth-child(3) {
    top: 36px;
  }
}
.hamburger.is-active span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sp-global-menu {
  display: none;
}
@media (max-width: 1024px) {
  .sp-global-menu {
    display: block;
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding-top: 61px;
    padding-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  }
}

.sp-global-menu.is-active {
  display: none;
}
@media (max-width: 1024px) {
  .sp-global-menu.is-active {
    display: block;
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding-top: 61px;
    padding-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.sp-global-menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-bottom: 26px;
}

.sp-global-menu_item a {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.sp-global-menu_item p {
  font-weight: 400;
  font-size: 12px;
}

.sp-global-menu_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sp-global-menu_contact img {
  width: 20px;
  margin-right: 8px;
}
.sp-global-menu_contact h1 {
  font-weight: 700;
  font-size: 16px;
}

.content-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 280px);
  margin-left: 280px;
}
@media (max-width: 1024px) {
  .content-area {
    margin: 48px 0 0 0;
    width: 100%;
  }
}

.fv {
  margin-bottom: 76px;
  position: relative;
}
@media (max-width: 1024px) {
  .fv {
    margin-top: 54px;
    margin-bottom: 73px;
    padding: 0 0 0 10px;
  }
}

.fv__main {
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .fv__main {
    padding-right: 0px;
  }
}

.fv__main-inner {
  width: 100%;
  height: 873px;
  border-radius: 50px;
  background-color: #F8F8F8;
  margin-top: 40px;
  margin-bottom: 76px;
  position: relative;
}
@media (max-width: 1024px) {
  .fv__main-inner {
    height: 589px;
    border-radius: 10px 0 0 10px;
  }
}

.fv__bg {
  width: min(727px, 70%);
  height: 727px;
  background-color: #4282B8;
  z-index: -1;
  position: absolute;
  top: -40px;
  right: 0px;
}
@media (max-width: 1024px) {
  .fv__bg {
    display: none;
  }
}

.fv__img-1 {
  position: absolute;
  top: 65px;
  left: 71px;
  width: 17.4%;
}
@media (max-width: 1024px) {
  .fv__img-1 {
    width: 28.2%;
    left: 2.73%;
    top: 10px;
    max-width: 140px;
  }
}

.fv__img-2 {
  position: absolute;
  top: 406px;
  left: 87px;
  width: 28%;
}
@media (max-width: 1024px) {
  .fv__img-2 {
    width: 30.1%;
    max-width: 190px;
    left: 3.05%;
    top: 231px;
  }
}

.fv__img-3 {
  position: absolute;
  top: 319px;
  left: 40.8%;
  width: 18.4%;
}
@media (max-width: 1024px) {
  .fv__img-3 {
    width: 22.4%;
    max-width: 170px;
    left: 38.9%;
    top: 253px;
  }
}

.fv__img-4 {
  position: absolute;
  top: 64px;
  right: 55px;
  width: 22.9%;
}
@media (max-width: 1024px) {
  .fv__img-4 {
    width: 36.7%;
    max-width: 180px;
    right: 3.3%;
    top: 31px;
  }
}

.fv__img-5 {
  position: absolute;
  top: 390px;
  right: 56px;
  width: 14.5%;
}
@media (max-width: 1024px) {
  .fv__img-5 {
    width: 24.1%;
    max-width: 190px;
    right: 3.3%;
    top: 271px;
  }
}

.fv__text {
  position: absolute;
  right: 113px;
  bottom: 63px;
}
@media (max-width: 1024px) {
  .fv__text {
    right: auto;
    left: 9px;
    bottom: 60px;
  }
}

.fv__text-title {
  font-weight: 700;
  font-size: clamp(1.5rem, 0.6197183099rem + 3.7558685446vw, 4rem);
  margin-bottom: 21px;
  padding: 14px;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fv__text-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
@media (max-width: 1024px) {
  .fv__text-desc {
    font-size: 12px;
  }
}

.fv__scrolldown {
  position: absolute;
  left: 18px;
  top: 799px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .fv__scrolldown {
    left: 9px;
    top: 544px;
  }
}
.fv__scrolldown p {
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 8px;
  color: #4282B8;
}
.fv__scrolldown--border {
  width: 1px;
  height: 112px;
  background-color: #4282B8;
}
@media (max-width: 1024px) {
  .fv__scrolldown--border {
    height: 52px;
  }
}

.fv__slider {
  margin-bottom: 71px;
  position: relative;
  padding: 63px 0 63px 48px;
  background-color: #F8F8F8;
}
@media (max-width: 1024px) {
  .fv__slider {
    margin-left: -10px;
    margin-bottom: 126px;
    padding: 16px 0 58px 19px;
  }
}

.fv__slider-box .fv__slider-item {
  margin-left: 48px;
}
@media (max-width: 1024px) {
  .fv__slider-box .fv__slider-item {
    margin-left: 16px;
    width: 53.3%;
  }
}
.fv__slider-box img {
  display: block;
}
.fv__slider-box .slick-list {
  padding-right: 30%;
}
@media (max-width: 1024px) {
  .fv__slider-box .slick-list {
    padding-right: 40%;
  }
}

.fv__slider-text {
  background-color: #F8F8F8;
  position: absolute;
  top: clamp(7.25rem, 4.213028169rem + 12.9577464789vw, 15.875rem);
  left: clamp(14.75rem, 2.2059859155rem + 53.5211267606vw, 50.375rem);
  padding: 16px clamp(1.5rem, 1.1478873239rem + 1.5023474178vw, 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.fv__slider-text .fv__slider-text-wrapper {
  font-size: clamp(1.5rem, 1.1478873239rem + 1.5023474178vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 0.5em;
  white-space: nowrap;
  margin-bottom: -18px;
}
.fv__slider-text .span-color {
  color: #4282B8;
}

.fv__slider-img {
  position: absolute;
  width: clamp(3.75rem, 1.5272887324rem + 9.4835680751vw, 10.0625rem);
  top: clamp(16.125rem, 11.8556338028rem + 18.2159624413vw, 28.25rem);
  left: clamp(10.4375rem, 0.3582746479rem + 43.0046948357vw, 39.0625rem);
}

.about-top {
  margin-bottom: 134px;
}
@media (max-width: 1024px) {
  .about-top {
    margin-bottom: 78px;
    padding: 0 20px;
  }
}

.section-title {
  margin-bottom: 40px;
}

.section-title-text {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.161971831rem + 0.3755868545vw, 1.5rem);
  margin-bottom: 20px;
}

.section-title-font {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: clamp(4.5rem, 3.2676056338rem + 5.2582159624vw, 8rem);
  line-height: 1;
  color: transparent; /* 塗りつぶしなしにする */
  -webkit-text-stroke: 1px #4282B8; /* 枠線の太さと色 */
}

.about__desc {
  font-size: clamp(0.875rem, 0.8309859155rem + 0.1877934272vw, 1rem);
  margin-bottom: 40px;
  line-height: 1.8;
  width: 429px;
}
@media (max-width: 1024px) {
  .about__desc {
    margin-bottom: 32px;
    width: 100%;
  }
}

.btn {
  width: 240px;
  padding: 22px 50px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #000000;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  display: block;
  color: #000000;
}
.btn .btn-dot::after {
  content: "●";
  color: #000;
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn.is-active {
  background-color: #000000;
  color: #FFFFFF;
}
.btn .btn-dot.is-active::after {
  color: #FFFFFF;
}

.service {
  margin-bottom: 207px;
  position: relative;
}
@media (max-width: 1024px) {
  .service {
    margin-bottom: 176px;
    padding: 0 20px;
  }
}

.service__list {
  padding-top: 24px;
  width: min(100%, 1002px);
}
@media (max-width: 1024px) {
  .service__list {
    padding-top: -16px;
  }
}

.service__item {
  margin-bottom: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1024px) {
  .service__item {
    display: block;
    margin-bottom: 50px;
  }
}
.service__item .service__item-img {
  position: relative;
  margin-right: clamp(0.625rem, -6.1442307692rem + 10.5769230769vw, 3.375rem);
  width: min(516px, 51.5%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1024px) {
  .service__item .service__item-img {
    margin-right: 0;
    margin-bottom: 24px;
    width: clamp(20.9375rem, 14.9696180556rem + 25.462962963vw, 31.25rem);
  }
}
.service__item .service__item-img .service__item-img-main {
  width: 100%;
  aspect-ratio: 516/464;
  -o-object-fit: cover;
     object-fit: cover;
}
.service__item .service__item-img .service__item-img-bgnumber {
  position: absolute;
  z-index: -1;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: clamp(5.8125rem, -5.7259615385rem + 18.0288461538vw, 10.5rem);
  color: #B1C6DC;
  top: 0;
  left: 96%;
  line-height: 1;
}
@media (max-width: 1024px) {
  .service__item .service__item-img .service__item-img-bgnumber {
    display: none;
  }
}
.service__item .service__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.service__item .service__item-text .service__item-text_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: clamp(1rem, -3.9230769231rem + 7.6923076923vw, 3rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service__item .service__item-text .service__item-text_heading .service__item-text_heading-title {
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  padding: 10px 16px;
  margin-right: 4%;
}
.service__item .service__item-text .service__item-text_heading .service__item-text_heading-bgnumber {
  display: none;
}
@media (max-width: 1024px) {
  .service__item .service__item-text .service__item-text_heading .service__item-text_heading-bgnumber {
    display: block;
    font-size: clamp(3rem, 1.4809027778rem + 6.4814814815vw, 5.625rem);
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    color: #B1C6DC;
    line-height: 1;
  }
}
.service__item .service__item-text .service__item-text_desc {
  font-size: 16px;
  margin-bottom: clamp(0.875rem, -1.2788461538rem + 3.3653846154vw, 1.75rem);
  line-height: 1.8;
  margin-bottom: 28px;
}
.service__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.service__item:nth-child(2) .service__item-img-main {
  margin-right: 0;
  margin-left: clamp(0.625rem, -6.1442307692rem + 10.5769230769vw, 3.375rem);
}
.service__item:nth-child(2) .service__item-img-bgnumber {
  left: -25%;
}

.service__bg {
  position: absolute;
  z-index: -999;
  background-color: #F8F8F8;
  border-radius: 50px 0 0 50px;
  top: -49px;
  width: 83.4%;
  height: 107%;
  right: 0;
}
@media (max-width: 1024px) {
  .service__bg {
    top: -25px;
    width: 73.3%;
    height: 105%;
  }
}

.service__img {
  position: absolute;
  top: 20px;
  right: 15.3%;
  width: clamp(6.875rem, 4.7211538462rem + 3.3653846154vw, 7.75rem);
}
@media (max-width: 1024px) {
  .service__img {
    top: -74px;
    width: clamp(4.3125rem, 2.1095916795rem + 9.3990755008vw, 8.125rem);
    right: clamp(0rem, -10.8339753467rem + 46.2249614792vw, 18.75rem);
  }
}

.news {
  margin-bottom: 132px;
}
@media (max-width: 1024px) {
  .news {
    margin-bottom: 64px;
    padding: 0 20px;
  }
}

.news__list {
  padding-top: 8px;
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .news__list {
    padding-right: 0px;
  }
}
.news__list .news__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #B1C6DC;
  padding: 32px 70px 32px 0;
  position: relative;
  width: 100%;
}
.news__list .news__list-item:first-child {
  border-top: 1px solid #B1C6DC;
}
@media (max-width: 1024px) {
  .news__list .news__list-item {
    padding: 16px 37px 16px 0;
  }
}
.news__list .news__list-item.is-active {
  background-color: #F8F8F8;
}
.news__list .news__list-item .news__list-item-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .news__list .news__list-item .news__list-item-sub {
    margin-bottom: 16px;
  }
}
.news__list .news__list-item .news__list-item-sub .news__list-item-sub-tag {
  font-weight: 700;
  font-size: 14px;
  padding: 5px 16px;
  border: 1px solid #4282B8;
  margin-right: 16px;
  color: #4282B8;
}
.news__list .news__list-item .news__list-item-sub .news__list-item-sub-date {
  font-weight: 700;
  font-size: 14px;
  color: #4282B8;
}
.news__list .news__list-item .news__list-item-main {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7;
}
@media (max-width: 1024px) {
  .news__list .news__list-item .news__list-item-main {
    font-size: 14px;
  }
}
.news__list .news__list-item .news__list-item-arrow {
  position: absolute;
  right: 27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .news__list .news__list-item .news__list-item-arrow {
    right: 0;
  }
}

#modal {
  display: none;
}

.modal-inner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content {
  background: #fff;
  width: 860px;
  height: 80vh;
  margin-top: 6vh;
  position: relative;
  -webkit-animation-name: pop-up;
          animation-name: pop-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes pop-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .modal-content {
    margin-top: 10vh;
    width: min(90%, 600px);
  }
}
.modal-content .modal-content-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-content .modal-content-sub .modal-content-sub-tag {
  font-weight: 700;
  font-size: 14px;
  padding: 5px 16px;
  border: 1px solid #4282B8;
  margin-right: 16px;
  color: #4282B8;
}
.modal-content .modal-content-sub .modal-content-sub-date {
  font-weight: 700;
  font-size: 14px;
  color: #4282B8;
}
.modal-content .modal-content-main {
  margin-bottom: 60px;
}
.modal-content .modal-content-main .modal-content-main-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  line-height: 1.7;
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .modal-content .modal-content-main .modal-content-main-title {
    font-size: clamp(1.125rem, 0.9079861111rem + 0.9259259259vw, 1.5rem);
  }
}
.modal-content .modal-content-main .modal-content-main-img {
  width: 100%;
  margin-bottom: 35px;
}
.modal-content .modalClose-btn {
  display: block;
  margin: 0 auto;
}
.modal-content .modalClose-times {
  position: absolute;
  top: -20px;
  left: 101%;
  color: #FFFFFF;
  font-size: 48px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .modal-content .modalClose-times {
    top: -60px;
    left: 93%;
    font-size: 40px;
  }
}

.modal-content-wrapper {
  overflow-y: auto;
  height: 100%;
  padding: 24px 102px;
}
@media (max-width: 1024px) {
  .modal-content-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: clamp(1.25rem, 0.1649305556rem + 4.6296296296vw, 3.125rem);
    padding-right: clamp(1.25rem, 0.1649305556rem + 4.6296296296vw, 3.125rem);
  }
}

.contact {
  padding: 32px 0 53px 24px;
  background-color: #F8F8F8;
  border-radius: 50px 0 0 50px;
  position: relative;
  margin-bottom: 84px;
}
@media (max-width: 1024px) {
  .contact {
    padding: 27px 20px 41px 20px;
    border-radius: 0;
    margin-top: 7px;
    margin-bottom: 24px;
  }
}
.contact .contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .contact .contact__body {
    display: block;
    margin-top: 7px;
  }
}
.contact .contact__body .contact__body-tel_label {
  padding: 8px 32px 8px 0;
  border-right: 1px solid #000000;
}
@media (max-width: 1024px) {
  .contact .contact__body .contact__body-tel_label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 24px 0;
    border-right: 0;
    border-bottom: 1px solid #000000;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.contact .contact__body .contact__body-tel_label .contact__body-tel_label-main {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  margin-bottom: 8px;
  line-height: 1;
}
@media (max-width: 1024px) {
  .contact .contact__body .contact__body-tel_label .contact__body-tel_label-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    margin-right: 16px;
    line-height: 1;
  }
}
.contact .contact__body .contact__body-tel_label .contact__body-tel_label-sub {
  font-size: 12px;
}
.contact .contact__body .contact__body-tel_number {
  padding: 8px 32px;
  border-right: 1px solid #000000;
}
@media (max-width: 1024px) {
  .contact .contact__body .contact__body-tel_number {
    padding: 24px 0 36px 0;
    border-right: 0;
  }
}
.contact .contact__body .contact__body-tel_number .contact__body-tel_number-main {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  margin-bottom: 8px;
  line-height: 1;
}
.contact .contact__body .contact__body-tel_number .contact__body-tel_number-sub {
  font-size: 12px;
}
.contact .contact__body .form-btn {
  margin-left: clamp(1.875rem, -3.3557692308rem + 8.1730769231vw, 4rem);
  width: 284px;
  padding: 20px 40px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 0;
}
@media (max-width: 1024px) {
  .contact .contact__body .form-btn {
    margin-left: 0;
  }
}
.contact .contact__body .form-btn .header-nav_section-img {
  margin-right: 8px;
}
.contact .contact__body .form-btn.is-active {
  background-color: #000000;
}
.contact .contact__body .form-btn.is-active .header-nav_section-img {
  -webkit-filter: invert(100%) contrast(150%) brightness(150%);
          filter: invert(100%) contrast(150%) brightness(150%);
}
.contact .contact__img {
  position: absolute;
  top: 31px;
  right: 40px;
  width: clamp(6.875rem, -3.125rem + 15.625vw, 10.9375rem);
}
@media (max-width: 1024px) {
  .contact .contact__img {
    top: -28px;
    right: clamp(1.25rem, -2.6200810185rem + 16.512345679vw, 7.9375rem);
    width: clamp(3.6875rem, 0.0344328704rem + 15.5864197531vw, 10rem);
  }
}

.footer {
  padding: 33px 0 24px 0;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer {
    padding: 24px 20px;
  }
}
.footer .footer__main {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main {
    margin-bottom: 58px;
    display: block;
  }
}
.footer .footer__main .footer__main-info {
  margin-right: clamp(0.3125rem, -34.7875rem + 46.2222222222vw, 6.8125rem);
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main .footer__main-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 66px 0;
  }
}
.footer .footer__main .footer__main-info .footer__main-info_logo {
  width: 222px;
  margin-bottom: 39px;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main .footer__main-info .footer__main-info_logo {
    margin-bottom: 36px;
  }
}
.footer .footer__main .footer__main-info .footer__main-info_content-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main .footer__main-info .footer__main-info_content-place {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
.footer .footer__main .footer__main-info .footer__main-info_content-place .footer__main-info_content-place-postcode {
  margin-right: 16px;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main .footer__main-info .footer__main-info_content-place .footer__main-info_content-place-postcode {
    margin: 0 0 20px 0;
  }
}
.footer .footer__main .footer__main-info .footer__main-info_content-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main .footer__main-info .footer__main-info_content-date {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
}
.footer .footer__main .footer__main-info .footer__main-info_content-date .footer__main-info_content-date-label {
  margin-right: 16px;
}
.footer .footer__main .footer__main-info .footer__main-info_content-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main .footer__main-info .footer__main-info_content-close {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
}
.footer .footer__main .footer__main-info .footer__main-info_content-close .footer__main-info_content-close-label {
  margin-right: 16px;
}
.footer .footer__main-nav {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
    margin-top: 0;
  }
}
.footer .footer__main-nav .footer__main-nav-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  font-weight: 700;
}
.footer .footer__main-nav .footer__main-nav-column a {
  color: #000000;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__main-nav .footer__main-nav-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
}
.footer .footer__main-nav .footer__main-nav-column .footer__main-nav-column-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__main-nav .footer__main-nav-column .footer__main-nav-column-img img {
  width: 20px;
  margin-right: 8px;
}
.footer .footer__copyright {
  text-align: right;
  margin-right: 56px;
}
@media (max-width: 1214px) and (min-width: 375px) {
  .footer .footer__copyright {
    text-align: center;
    margin-right: 0;
  }
}

/* ABOUTページ　-------------*/
.about-page__fv {
  padding-right: 40px;
  position: relative;
}
@media (max-width: 1024px) {
  .about-page__fv {
    padding-right: 0px;
    padding-left: 20px;
  }
}

.about-page__fv-img {
  width: 100%;
  height: 661px;
  border-radius: 50px;
  margin-top: 40px;
  margin-bottom: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .about-page__fv-img {
    height: 500px;
    border-radius: 20px 0 0 20px;
  }
}

.about-page__fv-bg {
  width: min(727px, 70%);
  height: 563px;
  background-color: #4282B8;
  z-index: -1;
  position: absolute;
  top: -40px;
  right: 0px;
}
@media (max-width: 1024px) {
  .about-page__fv-bg {
    display: none;
  }
}

.about-page__nav {
  margin-bottom: 80px;
  position: relative;
}
@media (max-width: 1024px) {
  .about-page__nav {
    padding: 0 20px;
    margin-bottom: 70px;
  }
}
.about-page__nav .page_title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 64px;
  line-height: 1;
}
@media (max-width: 1024px) {
  .about-page__nav .page_title {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
.about-page__nav .about-page__nav-desc {
  line-height: 2;
  margin-bottom: 64px;
}
@media (max-width: 1024px) {
  .about-page__nav .about-page__nav-desc {
    margin-bottom: 40px;
  }
}
@media (max-width: 440px) and (min-width: 375px) {
  .about-page__nav .about-page__nav-desc .br-none {
    display: none;
  }
}
.about-page__nav .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media (max-width: 600px) and (min-width: 375px) {
  .about-page__nav .nav-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 18px;
  }
}
.about-page__nav .nav-btns .nav-btn {
  width: 208px;
  border: 1px solid #4282B8;
  padding: 11px 20px;
}
.about-page__nav .nav-btns .nav-btn.is-active {
  background-color: #4282B8;
}
.about-page__nav .nav-btns .nav-btn .nav-btn-font {
  margin-bottom: -10px;
  font-weight: 400;
  color: #000000;
}
.about-page__nav .nav-btns .nav-btn .nav-btn-font.is-active {
  color: #FFFFFF;
}
.about-page__nav .nav-btns .nav-btn .nav-btn-arrow::after {
  content: "⌄";
  color: #4282B8;
  font-size: 25px;
}
.about-page__nav .nav-btns .nav-btn .nav-btn-arrow.is-active::after {
  color: #FFFFFF;
}
.about-page__nav .about-page__nav-img {
  position: absolute;
  top: 0;
  left: 538px;
}
@media (max-width: 1024px) {
  .about-page__nav .about-page__nav-img {
    top: clamp(-2.3125rem, -2.7465277778rem + 1.8518518519vw, -1.5625rem);
    left: clamp(17.6875rem, 2.6050347222rem + 64.3518518519vw, 43.75rem);
    width: clamp(5.1875rem, 2.2216435185rem + 12.6543209877vw, 10.3125rem);
  }
}

.about-page__philosophy {
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .about-page__philosophy {
    padding: 0 20px;
  }
}
.about-page__philosophy .about-page__philosophy-img-rapper {
  overflow-x: auto;
}
@media (max-width: 1024px) {
  .about-page__philosophy .about-page__philosophy-img-rapper .about-page__philosophy-img {
    width: 100%;
    min-width: 650px;
  }
}

.subsection_title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 64px;
  line-height: 1;
}
@media (max-width: 1024px) {
  .subsection_title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.about-page__profile {
  margin-bottom: 80px;
  width: min(953px, 100%);
}
@media (max-width: 1024px) {
  .about-page__profile {
    padding: 0 20px;
  }
}
.about-page__profile .about-page__profile-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 52px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .about-page__profile .about-page__profile-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 50px;
  }
}
.about-page__profile .about-page__profile-top .about-page__profile-top_message {
  width: 465px;
  margin-right: 40px;
  line-height: 1.9;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1024px) {
  .about-page__profile .about-page__profile-top .about-page__profile-top_message {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    line-height: 1.7;
    margin-right: 0;
  }
}
.about-page__profile .about-page__profile-top .about-page__profile-top_photo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1024px) {
  .about-page__profile .about-page__profile-top .about-page__profile-top_photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.about-page__profile .about-page__profile-top .about-page__profile-top_photo .about-page__profile-top_photo-img {
  margin-bottom: 16px;
  width: 331px;
}
@media (max-width: 1024px) {
  .about-page__profile .about-page__profile-top .about-page__profile-top_photo .about-page__profile-top_photo-img {
    width: clamp(15.625rem, 13.8165509259rem + 7.7160493827vw, 18.75rem);
  }
}
.about-page__profile .about-page__profile-top .about-page__profile-top_photo .about-page__profile-top_photo-name .about-page__profile-top_photo-name-position {
  margin-bottom: 24px;
}
.about-page__profile .about-page__profile-top .about-page__profile-top_photo .about-page__profile-top_photo-name .about-page__profile-top_photo-name-main {
  font-size: 32px;
  font-weight: 700;
  color: #4282B8;
  line-height: 1;
}
@media (max-width: 1024px) {
  .about-page__profile .about-page__profile-top .about-page__profile-top_photo .about-page__profile-top_photo-name .about-page__profile-top_photo-name-main {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.about-page__profile .about-page__profile-table {
  border-collapse: collapse; /* ボーダーが重ならないように */
  width: 100%;
}
.about-page__profile .about-page__profile-table th, .about-page__profile .about-page__profile-table td {
  border-bottom: 1px solid #B1C6DC;
  padding: 30px 0;
}
.about-page__profile .about-page__profile-table th {
  width: 21%;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 1024px) {
  .about-page__profile .about-page__profile-table th {
    width: auto;
    padding-right: 10px;
    white-space: nowrap;
  }
}

.about-page__safetyefforts {
  margin-bottom: 193px;
  width: min(953px, 100%);
}
@media (max-width: 1024px) {
  .about-page__safetyefforts {
    padding: 0 20px;
  }
}
.about-page__safetyefforts .about-page__safetyefforts-content {
  padding-top: 15px;
}
.about-page__safetyefforts .about-page__safetyefforts-content:nth-of-type(1) {
  margin-bottom: 30px;
}
.about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_title {
    font-size: 22px;
    margin-bottom: 22px;
  }
}
.about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_body .about-page__safetyefforts-content_body-desc {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 642px;
  line-height: 1.8;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_body .about-page__safetyefforts-content_body-desc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}
.about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_body .about-page__safetyefforts-content_body-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1024px) {
  .about-page__safetyefforts .about-page__safetyefforts-content .about-page__safetyefforts-content_body .about-page__safetyefforts-content_body-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: clamp(17.5rem, 13.1597222222rem + 18.5185185185vw, 25rem);
    margin-bottom: 15px;
  }
}